* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: white;
}

body::-webkit-scrollbar {
    display: none;
}

.home {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    background-image: url(./clouds-g93d9c0396_1920.jpg);
    background-size: cover;
    filter: blur(3px);
    margin: 0px;
    z-index: 2;
}

.logo {
    position: relative;
    width: 30%;
    height: fit-content;
    margin-top: 3%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: .1%;
    transform: scale(1.5);
    z-index: 3;
}

.more {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-bottom: 10%;
    animation: appear 5s linear;
    animation-iteration-count: 1;
}

.aro {
    position: relative;
    margin: auto;
    z-index: 3;
    width: 128px;
    height: 128px;
    animation: float 5s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes appear {
    0% {
        filter: opacity(0%);
    }

    40% {
        filter: opacity(0%)
    }

    100% {
        filter: opacity(100%);
    }
}

.menu {
    position: sticky;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    border-bottom: solid 2px;
    border-color: gray;
    background-color: rgba(255, 255, 255, 0.7575);
    backdrop-filter: blur(7000px);
    margin: 0px;
    top: 0px;
    z-index: 1;
}

.name {
    padding-top: 5px;
    text-align: left;
    color: black;
    justify-content: left;
    flex-grow: 19
}

.item {
    padding-top: 5px;
    text-align: center;
    font-size: 35px;
    color: black;
    justify-content: center;
    flex-grow: 1;
    margin: 0px;
    transition-duration: 0.5s;
}

.item:hover {
    background-color: gray;
}

.dropbtn {
    position: inherit;
    background-color: rgba(26, 205, 255, 0);
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 35px;
    color: black;
    justify-content: center;
    flex-grow: 1;
    margin: 0px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 3%;
}

.dropees {
    background-color: rgba(255, 255, 255, 0.836);
    display: none;
    margin-left: -70%;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(50000000px);
}

.dropees a {
    font-size: 35px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropees a:hover {
    background-color: Grey;
}

.dropdown:hover .dropees {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: grey;
}

.ppic {
    transform: none;
    transition: .7s;
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 550px;
    border-radius: 7px;
    background-image: url(./dream.jpg);
    background-size: cover;
    overflow: hidden;
}

.ppic:hover {
    padding-right: 300px;
}

.foota {
    position: relative;
    display: block;
    width: 80%;
    height: 5vh;
    border-top: solid;
    margin:auto;

}

#space {
    position: relative;
    height: 250px;
    width: 700px;
}

#form {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 400px;
    perspective: 20px;
}

#leg {
    text-align: center;
    font-size: 30px;
}

fieldset {
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
}

textarea {
    resize: none;
}

.gall {
    margin-top: 200px;
    min-height: 500px;
    display: grid;
    place-content: start center;
    background-color: whitesmoke;
    overflow: hidden;
}

article {
    position: relative;
    text-align: center;
    top: 20vh;
    width: 40vw;
}

article h1,
article p {
    margin: 10px;
}

article h1 {
    font-size: 1.2rem;
}

article p {
    font-size: 0.9rem;
    line-height: 1.4;
}

.g {
    width: auto;
    height: .1vh;
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 10vh;
    place-content: start center;
    z-index: 1;
    transition: all 1s;
    position: relative;
    top: 5vh;
}

.g:hover {
    background: linear-gradient(transparent, hsla(0, 0%, 100%, 0.5), transparent);
    height: 500px;
    width: 50vw;
}

.g a {
    font: 0.8em monospace;
    position: static;
    display: block;
    width: 5ch;
    height: 5ch;
    display: grid;
    place-content: center;
    background: hsla(0, 0%, 100%, 0.5);
    color: #333;
    text-decoration: none;
    border-bottom: thin solid rgb(113, 113, 113);
    box-sizing: border-box;
}

.g a:hover {
    background: hsla(0, 0%, 0%, 0.5);
    color: #eee;
    border-bottom: 0 none;
}

.g a img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 500px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%);
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%);
    transition: -webkit-clip-path 0.3s ease-in;
    transition: clip-path 0.3s ease-in;
    transition: clip-path 0.3s ease-in, -webkit-clip-path 0.3s ease-in;
}

.g a:hover img,
.g a img:hover {
    -webkit-clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%, 50% 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%, 50% 0, 100% 0, 100% 100%, 50% 100%);
}

article {
    transition: filter 0.5s;
}

.g:hover+article {
    filter: blur(3px);
    visibility: hidden;
}

@media(max-width:612px) {
    .item {
        padding-left: 10px;
        flex-grow: 2;
    }
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

.projects {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 800px;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll
}

.projects::-webkit-scrollbar {
    display: none;
}

.grid-container {
    justify-content: center;
    padding: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 350px 350px 350px;
    padding: 20px;
    gap: 50px;
    background-image: url(./clouds.png);
    background-color: #535e62;
}

.grid-item {
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    border: 2px solid;
    padding: 20px;
    height: 200px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    transition: .7s;
    border-radius: 50%;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.925);
    text-shadow: 1px 1px #333;

}

.grid-item:hover {
    height: 300px;
    width: 300px;
    border-radius: 0px;
    color: rgb(0, 0, 0);
}
 
#projby{
    width: 40%;
    height: 800px;
    background-color: bisque;
}

.gamedes {
    padding-top: 2%;
    display: flex
}

.paragraph {
    height: 800px;
    flex: 40%;
    background-color: whitesmoke;
}

.slideshow {
    height: 800px;
    flex: 60%;
    background-color: grey;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slideshow::-webkit-scrollbar {
    display: none;
}

#Title {
    font-size: 70px;
    margin-left: 25px;
}

#explan {
    font-size: 25px;
    margin-left: 25px;
    margin-right: 20px;
    word-spacing: 10px;
}

.invi2 {
    position: relative;
    background-color: rgba(255, 255, 255, 0.437);
    padding-left: 1%;
    padding-right: 1%;
    width: 50%;
    height: 700px;
    font-size: 28px;
    text-align: center;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cards{
    display: flex;
    flex-direction: row;
}

.card{
    margin:5%;
}

.invi {
    margin-top: 10%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.437);
    padding-left: 1%;
    padding-right: 1%;
    width: 25%;
    height: 700px;
    font-size: 28px;
    text-align: left;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ryu {
    margin-top: 10%;
    background-color: black;
    margin-bottom: 6%;
}

.pathways {
    display: flex;
}

.banner {
    position: absolute;
    z-index: 3
}

#boutp {
    display: flex;
    justify-content: center;
    
}

#boutsum{
    width:100%; 
    padding-top:3%;
}
.btn{
   color: cyan;
}

#bantxt{
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: 5%;
    background-color: whitesmoke;
}
#links{
    display: flex;
    justify-content: center;
}
.lin{
    transform: scale(1.5);
    margin: 3%;
    margin-top: 3%;
    padding: 2%;
}
#bantxt{
    text-align: center;
}
.boxes{
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
}
#tite{
    text-align: center;
    font-size: 10vh;
}
#phish{
    width: 50px;
    height: 45px;
}
#circi{
    display:flex; 
    justify-content:center;
    border-radius: 100%;
    overflow: hidden; 
    width:160vw; 
    height:45vh; 
    margin:auto; 
    flex-basis:100vw; 
    margin-left: 10%; 
    box-shadow:0 0 13px #e7eaeb
}
#selfli{
    width:30vw; 
    height:70vh;
    background-image: url(./IMG_6735.JPG);
}
#boutit{
    align-self:center; 
    font-size: 30px;
}
#cardian{
    width: 120%;
}
#bbq{
    font-size:35px;
}

@media only screen and (max-width: 768px) {
    .menu{
        width:100%;
    }
    body{
        overflow-x: hidden;
    }
    #phish{
        width: 45px;
        height: 40px;
    }
    .item{
        font-size: 30px;
    }
    .dropbtn{
        font-size: 30px;
    }
    .aro{
       width: 64px;
       height:64px 
    }
    #entex{
        margin-top: 70px;
        font-size: 20px;
    }
    .home{
        height: 110vh;
        width: 100%;
    }
    .logo{
        margin-top: 40%;
        transform: scale(3.0);
    }
    #boutsum{
        width: 100%;
        padding-top: 15%;
        margin-top:150%;
    }
    #boutsect{
        flex-direction: column;
    }
    #circi{
        width:100vw;
        margin: 0px;
    }
    #selfli{
        width: 100%;
        height: 120%;
    }
    #boutit{
        font-size: 20px;
    }
    #boutex{
        font-size: 15px;
    }
    .invi2{
        width: 80%;
        height: 50vh
    }
    #boutp{
        justify-content: center;
        align-items: flex-start;
    }
    #cards{
        flex-direction: column;
    }
    #cardian{
        width: 100%;
    }
    .card{
        margin:0px;
        width:100%;
    }
    #bbq{
        font-size: 20px;
    }
    #links{
        width: 100%;
        flex-direction: column;
    }
    #bantxt{
        height: 70vh;
        margin-bottom: 10%;  
    }
    .foota{
        bottom: 0px;
    }
    .btn{
        transform: scale(0.8);
        margin: 1%;
        padding: 6%;
    }
}
@media only screen and (min-width: 768px) and (max-width:1499px){
    .menu{
        width:100%;
    }
    body{
        overflow-x: hidden;
    }
    .aro{
       width: 96px;
       height:96px 
    }
    #entex{
        margin-top: 70px;
        font-size: 25px;
    }
    .home{
        height: 110vh;
        width: 100%;
    }
    .logo{
        margin-top: 10%;
        transform: scale(2.0);
    }
    #boutsum{
        width: 100%;
        padding-top: 10%;
        margin-top:30%;
    }
    #boutsect{
        flex-direction: row;
    }
    #circi{
        justify-self: center;
        width:130vw;
        height: 25vh;
        margin-right: 1%;
        right: 3%;
    }
    #selfli{
        width: 110vw;
        height: 120%;
    }
    #boutit{
        font-size: 20px;
    }
    #boutex{
        font-size: 15px;
    }
    .invi2{
        width: 80%;
        height: 50vh
    }
    #boutp{
        justify-content: center;
        align-items: flex-start;
    }
    #cards{
        flex-direction: row;
    }
    #cardian{
        width: 100%;
    }
    .card{
        margin:3%;
        width:100%;
    }
    #bbq{
        font-size: 20px;
    }
    #links{
        width: 100%;
        flex-direction: column;
    }
    #bantxt{
        height: 55vh;
        margin-bottom: 5%;  
    }
    .foota{
        bottom: 0px;
    }
    .btn{
        transform: scale(.9);
        transform: scaleY(1.2);
        margin: 2%;
    }
}